{% extends 'default.html' %} <!-- default.html မှ အချက်အလက်များကို ဆွဲယူအသုံးပြုခြင်း -->
      {% block content %}
      <form method="POST" action="/"> <!-- POST နဲ့ယူပြီး ဒီမှာပဲ အလုပ်လုပ်-->
      	 {% csrf_token %}
      	{{form.title}} <!-- ခေါင်းစဥ်ပဲ ရိုက်ဖို့လိုလို့ .title နဲ့ သတ်မှတ် -->
      	<input type="submit" name="Create Task">
      </form>
	     
	      {% for task in tasks %} <!-- views.py မှ ပေးပို့လာသောအချက်အလက်များကို ခင်းကျင်းပြသခြင်း -->
	      	<p>{{task}}<p> <!-- လုပ်ဆောင်ချက်များအား စာပိုဒ်ပုံစံဖြင့် ဖော်ပြ-->
	      {% endfor %}

      {% endblock %}
